/* * input text * */
input[type="text"] {
  outline: none;
  margin: 5px;
  color: #37355B;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 16px;
  background: #ffffff;
  border: 1px solid #D0D7DD;
  border-radius: 8px;
}

input[type="text"]:focus {
  border: 1px solid #006285;
}

input[type="text"]:disabled {
  color: #7C7B8A;
  background: #F2F3F7;
  border: 1px solid #D0D7DD;
}

input[type="text"]:invalid {
  border: 1px solid #FF0000;
}

input::placeholder {
  color: #7C7B8A;
}

label {

  font-size: 18px;
  cursor: pointer;
}

/* * Check * */

.check {
  padding-left: 0.2em;
}

.check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-box {
  position: absolute;
  margin-top: 0.4em;
  margin-left: -1em;
  width: 0.8em;
  height: 0.8em;
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #D0D7DD;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* .check-input:hover  + .check-box, */
.check-input:focus+.check-box {
  border-color: #006285;
}

.check-input:checked+.check-box {
  background-color: #006285;
  background-image: url(image/check.svg);
}

.check-input:checked+.check-box-minus {
  background-image: url(image/minus.svg);
}

.check-input:disabled+.check-box {
  background-color: #F2F3F7;
}

.check-input:checked:disabled+.check-box {
  background-color: #7C7B8A;
}

 /* * Radio * */
 .radio{
   padding: 1em;
 }

 .radio-input{
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
 }

 .radio-box{
  position: absolute;
  margin-top: 0.4em;
  margin-left: -1em;
  width: 0.8em;
  height: 0.8em;
  overflow: hidden;
  background-color: #FFFFFF;
  border: 1px solid #D0D7DD;
  border-radius: 50%;
 }

 .radio-input:focus+.radio-box {
  border-color: #006285;
}

.radio-input:checked+.radio-box {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 10 10'%3e%3ccircle r='3' fill='%23006285'/%3e%3c/svg%3e");
  background-color: #FFFFFF;
}

.radio-input:disabled+.radio-box {
  background-color: #F2F3F7;
}

.radio-input:checked:disabled+.radio-box {
  background-color: #7C7B8A;
}


/* * Textarea* */

textarea{
  resize: none;
  font-size: 14px;
line-height: 20px;
color: #1F1F22;
width: 100%;
height: 80px ;
padding: 8px 12px;
background: #FFFFFF;
border: 1px solid #D0D7DD;
border-radius: 8px;
}

textarea::placeholder{
  color: #7D838A;
}

textarea:focus{
  background: #FFFFFF;
  border-color: #006285;
border-radius: 8px;
}

textarea:disabled{
  background: #F2F4F7;
  border: 1px solid #D0D7DD;
  border-radius: 8px;
}