.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
  }

 .big-active{
    height: 100vh;
    width: 100%;
  } 

  .swiper-pagination {
    position: absolute;
    top: 200px;
    left: 50px;
  }
  
  .swiper-pagination-bullet {
    margin-right: 50px;
    margin-bottom: 200px;
    width: 15px;
    height: 15px;
    background: #F2F3F7;
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    width: 25px;
    height: 25px;
    background: #F2F3F7;
  }
  
  
  .hr-line {
    z-index: 15;
    position: absolute;
    height: 600px;
    width: 200px;
    left: 66px;
    top: 150px;
    border-left: 3px solid rgba(255, 255, 255, .5);
  }

  .big-active .slide-1{
      min-width: 0;
      height: 100%;
      background: url(../image/active-5.jpg) no-repeat;
  }

  .big-active .slide-2{
    min-width: 0;
    height: 100%;
    background: url(../image/active-scate.jpg) no-repeat;
}

.big-active .slide-3{
    min-width: 0;
    height: 100%;
    background: url(../image/light-options-1.jpg) no-repeat;
}


    .blur {
        background: rgba(0, 0, 0, .2); 
        backdrop-filter: blur(5px); 
        height: 100vh;
       width: 100%;
      }
