
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
}

.big-active {
  height: 100vh;
  width: 100%;
  background-color: #000;
}

.swiper-pagination {
  margin-top: 5vh;
  height: 90vh;
  position: absolute;
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
  top: 0px;
  left: 50px;
}

.swiper-pagination-bullet {
  margin-right: 50px;
  /* margin-bottom: 200px; */
  width: 15px;
  height: 15px;
  background: #F2F3F7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 25px;
  height: 25px;
  background: #F2F3F7;
}


.hr-line {
  z-index: 15;
  position: absolute;
  height: 60vh;
  margin-top: 20vh;
  margin-bottom: 25vh;
  background: rgba(255, 255, 255, .5);
  width: 3px;
  left: 66px;
  top: 0px;
  /* border-left: 3px solid rgba(255, 255, 255, .5); */
}

.big-active-next-slide {
  z-index: 50;
  position: absolute;
  top: 90vh;
  left: 50%;
}

.tariffs-swiper-pagination-wrapper {
  margin-top: 50px;
  margin-left: 20px;
}

.blur {
  background: rgba(0, 0, 0, .2);
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100%;
}

.big-active .slide-1 {
  min-width: 0;
  height: 100%;
  background: url(../image/active-5.jpg) no-repeat;
}

.big-active .slide-2 {
  min-width: 0;
  height: 100%;
  background: url(../image/active-scate.jpg) no-repeat;
}

.big-active .slide-3 {
  min-width: 0;
  height: 100%;
  background: url(../image/light-options-1.jpg) no-repeat;
}


.big-active .container,
.big-active .row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.big-active-title-wrapper {}

.big-active-title {
  z-index: 45;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  left: 0%;
  font-family: 'San Francisco Pro Heavy';
  font-size: 144px;
  line-height: 172px;
  color: #F8F32B;
}

.big-active-button {
  z-index: 40;
  position: relative;
  float: left;
  margin-top: 400px;
  text-decoration: none;
  font-family: 'San Francisco Pro';
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  padding: 15px 35px 15px 32px;
  border: 3px solid #FFFFFF;
  border-radius: 48px;

}

.big-active-arrow-right {
  margin-left: 30px;
  stroke: #FFFFFF;
}

.big-active-button:hover {
  color: #FFFFFF;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.05);
  transition: .1s;

}

.big-active-button .big-active-arrow-right {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.big-active-button:hover .big-active-arrow-right,
.big-active-button:focus .big-active-arrow-right,
.big-active-button:active .big-active-arrow-right {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}



.big-active-title-back {
  z-index: 35;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'San Francisco Pro';
  font-size: 350px;
  line-height: 418px;
  letter-spacing: 0.08em;
  color: transparent;
  -webkit-text-stroke: 5px rgba(255, 255, 255, 0.5);
  animation: pulse 7s 1 linear;
}


@-webkit-keyframes pulse {
  0% {
    font-size: 750px;
    line-height: 895px;
  }

  100% {
    font-size: 350px;
    line-height: 418px;
  }
}

@keyframes pulse {
  0% {
    font-size: 750px;
    line-height: 895px;
  }

  100% {
    font-size: 350px;
    line-height: 418px;
  }
}


.tab-content {
  overflow: hidden;
}

.big-active-slide-title {
  font-family: "San Francisco Pro Heavy";
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #FFFFFF;

}

.big-active-slide-text {
  font-family: "San Francisco Pro";
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
}

.big-active-slide-link-wrapper {}

.big-active-slide-link {
  margin-top: 25px;
  display: inline-block;
  font-family: "San Francisco Pro";
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 35px 15px 32px;
  border: 3px solid #FFFFFF;
  border-radius: 48px;
}

.big-active-slide-link:not(:last-child) {
  margin-right: 30px;
}

.big-active-slide-link:hover,
.big-active-slide-link:active,
.big-active-slide-link:focus {
  color: #FFFFFF;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.05);
  transition: .1s;
}

.big-active-capability-text {
  font-family: "San Francisco Pro";

  font-size: 48px;
  line-height: 57px;

  color: #FFFFFF;
}

.capability-strong {
  font-family: "San Francisco Pro Heavy";
  color: var(--second-accent);
}

.form-capability {
  position: relative;
  max-width: 570px;
}

.form-capability-label {
  font-family: "San Francisco Pro Semibold";
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.input-wrapper {
  width: 100%;
}

.icon-info {
  fill: #F2F3F7;
}

.form-capability-input {
  font-family: "San Francisco Pro";
  font-size: 24px;
  line-height: 16px;
  padding: 8px 12px;
  background: #FFFFFF;
  border: 1px solid #D0D7DD;
  border-radius: 8px;
  height: 50px;
  margin-right: 26px;
  width: 100%;
}


.form-capability-button {
  font-family: "San Francisco Pro Semibold";
  height: 50px;
  padding: 0 50px;
  font-size: 14px;
  line-height: 17px;
  color: #37355B;
  border: none;
  background: #F8F32B;
  border-radius: 8px;

}


.form-capability-result {
  font-family: "San Francisco Pro";
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  margin-top: 15px;
  background: #F2F3F7;
  border: 1px solid #006285;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 17px;
  color: #37355B;

}

.form-capability-result-icon-wrapper {}

.form-capability-result-icon {
  background-color: #006285;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.form-capability-result-text-wrapper {
  margin-left: 8px;
  margin-top: 0;
  margin-bottom: 0;
}

.form-capability-result-list {
  margin: 0;
}

.form-capability-result-description {
  font-family: "San Francisco Pro Bold";
  display: block;

  margin: 0;
}

.form-capability-result-boolean {
  font-family: "San Francisco Pro Bold";
}

.tariffs-list-item .tariffs-list-button,
.tariffs-list-item .tariffs-list-button.active {

  background-color: transparent;
}

.tariffs-list-item .tariffs-list-button.active {
  color: #F2F3F7;
}

.tariffs-list-item .tariffs-list-button:hover {
  color: #F2F3F7;

}

.hvr-underline-from-center.active:before,
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 8%;
  right: 8%;
}

.hvr-underline-from-center:before {

  color: var(--second-accent);
  background: var(--second-accent);
}


.slider-prev:active .arrow-slider-prev,
.slider-next:active .arrow-slider-next {
  fill: var(--second-accent);
}

.tariff-item-wrapper {
  position: relative;
  width: 300px;

}

.tariff-item {
  position: relative;
  z-index: 50;
  min-width: 230px;
  max-width: 260px;
  width: 90%;
}

.active-tariffs-button {
  margin-top: 14px;
  background: #F8F32B;
  border-radius: 48px;
  border: none;
  font-family: 'San Francisco Pro';
  padding: 5px 50px;
  font-size: 15px;
  line-height: 18px;

  color: #37355B;

}


.slide-2 .swiper-slide:not(.swiper-slide-next) .tariff-item,
.slide-2 .swiper-slide:not(.swiper-slide-next) .tariff-item {
  transform: scale(.8);
  transition: 1s;
  opacity: .3;
}

.slide-2 .swiper-slide.swiper-slide-next .tariff-item {
  transform: scale(1.1);
  transition: 1s;
  opacity: 1;

}

.tariffs-options {
  margin-bottom: 30px;
}

@media (max-width:719px) {
  .big-active-title-back {

    visibility: hidden;
  }

  .big-active-title {

    font-size: 70px;
  }

  .big-active-button {
    margin-top: 250px;
  }

  .big-active-slide-title {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 40px;
  }

  .big-active-slide-text {
    font-size: 24px;
  }

  .big-active-slide-link {
    font-size: 24px;
  }
}


@media(max-width:991px) {
  body{
    overflow-x: hidden;
  }
  .big-active >.swiper-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    align-content: flex-start;
  }
.big-active .slide-2{
  height: 1100px;
}
  .swiper-pagination,  .show-more,   .hr-line {
    visibility: hidden;
  }

  .big-active {
    height: auto;
  }

  .blur {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-capability-input {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .big-active-slide-link {
    width: 100%;
    text-align: center;
  }

  .slide-2 .swiper-slide:not(.swiper-slide-active) .tariff-item,
  .slide-2 .swiper-slide:not(.swiper-slide-active) .tariff-item {
    transform: scale(1);
    transition: 0s;
    opacity: 0;
    display: none;
  }
  .slide-2 .swiper-slide.swiper-slide-active .tariff-item {
    transform: scale(1);
    transition: 0s;
    opacity: 1;
  
  }
.slider-next{
  margin-right: 15px;
}
}