.body{
    position: relative;
}
.move{
    z-index: 20;
    position: absolute;
    top: 0;
    right: 500px;
    font-family: 'San Francisco Pro';
    font-size: 96px;
    line-height: 115px;
    color: transparent;
    letter-spacing: 0.05em;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #FFFFFF;
    animation: moveup 3s infinite reverse linear;
}

.header{
width: 100%;
    position: absolute;top: 0;
    left:0;
    z-index: 25;
}


.footer{
    position: unset;
    z-index: 25;
}
.big-light{
    position: absolute;
    top: 0;
    left:0;
}


body {
    width: 100vw;
    height: 100vw;
    background: linear-gradient(165deg, #527785 0%, #7FB4C7 100%);
    padding: 1%;
    overflow: hidden;
  }
  
 #cloud-circle {
      width: 500px;
      height: 275px;
      border-radius: 50%;
      filter: url(#filter);
      box-shadow: 400px 400px 60px 0px #fff;
      position: absolute;
      top: -320px;
      left: 320px;
      animation: cloudmove 30s infinite alternate-reverse linear;
      opacity: 0.5;
  }

   

.cloud-wrapper{
    
}   

.cloud {
    width: 500px;
    height: 275px;
    border-radius: 50%;
    position: absolute;
    top: -25vh;
    left: 5vw;
    /* opacity: 0.8; */
    animation: cloudmove 30s infinite alternate-reverse linear;
  }
  
  #cloud-back {
    filter: url(#filter-back);
    box-shadow: 300px 300px 30px -20px #fff;
  }
  
  #cloud-mid {
    filter: url(#filter-mid);
    box-shadow: 300px 340px 70px -60px rgba(158, 168, 179, 0.5);
      left: 5vw;
  }
  
  #cloud-front {
    filter: url(#filter-front);
    box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.3);
      left: 5vw;
  }
@keyframes moveup {
    from {

    }
  
    to {
        transform:  translateY(115px);
    }
    }

    @keyframes cloudmove {
        0% {
    
        }
      
        100% {
            transform:  translateY(150px);
            transform:  translateX(-350px);
        }
        }