.body {

  overflow-x: hidden;
  position: relative;
}
/* ::-webkit-scrollbar {
  width: 0;
} */

.move {
  z-index: 5;
  position: absolute;
  top: 0;
  right: 450px;
  font-family: 'San Francisco Pro Semibold';
  font-size: 96px;
  line-height: 115px;
  color: transparent;
  letter-spacing: 0.05em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.8);
  animation: moveup 3s infinite reverse linear;
  /* mix-blend-mode: soft-light; */
}

.swiper-wrapper{
  height: 100vh;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
}

.big-light {
  overflow-y: hidden;
  position: absolute;
  /* top: -30px; */
  left: 0;
  width: 100vw;
  height: calc(100vh+30px);
  overflow-y: hidden;
}


.big-light .slide-1 {
  overflow: hidden;
  background: center no-repeat url(../image/cloud.jpg);
  background-size: cover auto;
  background-position: top;
}



.big-light-subtitle {
  position: relative;
  z-index: 20;
  margin-top: 260px;
  margin-bottom: -20px;
  font-family: 'San Francisco Pro';
  font-weight: 500;
  font-size: 64px;
  line-height: 76px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}


.big-light-subtitle-ligth {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 20;
  font-family: 'San Francisco Pro';
  font-weight: 500;
  font-size: 64px;
  line-height: 76px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}



.big-light-title {
  position: relative;
  font-family: 'San Francisco Pro Heavy';
  font-weight: 900;
  font-size: 200px;
  line-height: 239px;
  letter-spacing: 0.1em;
  color: #006285;
  text-transform: uppercase;
  z-index: 40;
}


#cloud-circle {
  width: 500px;
  height: 275px;
  border-radius: 50%;
  filter: url(#filter);
  box-shadow: 400px 400px 60px 0px #fff;
  position: absolute;
  top: -200px;
  left: 320px;
  animation: cloudmove 30s infinite alternate-reverse linear;
  opacity: 0.5;
}


@keyframes moveup {
  from {
    transform: translateY(-115px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes cloudmove {
  0% {}

  100% {
    transform: translateY(150px);
    transform: translateX(-350px);
  }
}

.swiper-pagination {
  position: absolute;
  top: 200px;
  right: 50px;
}

.swiper-pagination-bullet {
  margin-right: 50px;
  margin-bottom: 200px;
  width: 15px;
  height: 15px;
  background: #006285;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 25px;
  height: 25px;
  background: #006285;
}


.hr-line {
  z-index: 15;
  position: absolute;
  height: 600px;
  width: 200px;
  right: 111px;
  top: 150px;
  border-right: 3px solid rgba(0, 98, 133, .5);

}

.icon-arrow-down {
  fill: #006285;
}

.big-light-next-slide {
  z-index: 50;
  position: absolute;
  top: 85vh;
  left: 50%;
}

.big-light-dark {
  padding-left: 130px;
  background-color: #006285;
  padding-right: 30px;
}

.big-light-light {
  padding-left: 130px;
  background-color: var(--background-color);
  padding-right: 30px;
}

.big-light-subtitle-dark {
  position: relative;
  z-index: 20;
  color: #006285;
  margin-left: 20px;
  margin-bottom: 0px;

}

.light-plus-item {

  height: 80%;
  width: 300px;
  padding: 20px;
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 8px 20px rgba(92, 92, 92, 0.25);
  border-radius: 8px;
  background-color: var(--background-color);
}

.light-plus-title {
  font-family: 'San Francisco Pro Semibold';
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #37355B;

}

.light-plus-description {
  font-family: 'San Francisco Pro';
  font-size: 14px;
  line-height: 17px;
  color: #7C7B8A;
}


.tariff-item-wrapper {
  position: relative;
  width: 300px;
}

.tariff-item {
  position: relative;
  z-index: 50;
  min-width: 200px;
  width: 90%;
}

.light-tariffs-button{
  margin-top: 14px;
  background: #F8F32B;
border-radius: 48px;
border:none;
font-family: 'San Francisco Pro';
padding: 5px 50px;
font-size: 15px;
line-height: 18px;

color: #37355B;

}

.light-tariffs-more{
  margin-top: 12px;
  font-family: 'San Francisco Pro';
font-size: 13px;
line-height: 16px;
color: #7C7B8A;
}

.tariff-name-descr{
  font-family: 'San Francisco Pro';
font-size: 12px;
line-height: 14px;
color: #37355B;
margin: 0;
padding: 0;

}

.tariff-name-descr+.tariff-name{
  margin-bottom: 25px;
}


.big-light-option-subtitle {
  font-family: 'San Francisco Pro Bold';
  margin-bottom: 27px;
  font-size: 48px;
  line-height: 57px;
  color: #37355B;
}

.big-light-text {
  font-family: 'San Francisco Pro';
padding-right: 150px;
  font-size: 24px;
  line-height: 29px;

  color: #7C7B8A;
  margin-bottom: 50px;

}
.big-light-button{

  font-family: 'San Francisco Pro';
  padding: 15px 35px 15px 32px;
font-size: 24px;
line-height: 29px;
border: 3px solid #006285;
text-decoration: none;
border-radius: 48px;
color: #061737;
}

.big-light-button:hover{
  color: #061737;
  box-shadow: 0px 10px 12px rgba(92, 92, 92, 0.2);
  transform: translateY(-5px);
  transition:.5s;
}
.big-light-options{
  margin-top: 0px;
  margin-left: 0;
  padding: 0;
}
.ligth-option-item{
  max-width: 300px;
  position: relative;
  z-index: 25;
  padding: 20px;
  background: #F2F3F7;
  box-shadow: 0px 8px 20px rgba(92, 92, 92, 0.25);
  border-radius: 25px;
  margin-bottom: 25px;
}

.light-option-image-wrapper{
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
width: 100%;
}

.light-option-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.light-option-name{
  font-family: 'San Francisco Pro Bold';
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #37355B;
  margin: 8px 0px
}

.light-option-descr{
  font-family:  'San Francisco Pro Semibold';
  font-size: 14px;
  line-height: 17px;
  color: #7C7B8A;
  margin: 8px 0px;
  display: flex;
  
}


.slide-3 .big-light-dark{
  /* padding-left: 50px; */
  padding-top: 50px;
}


.tariff-item{
  min-height: 530px;
} 

@media(max-width: 1600px) {
  .swiper-pagination {
    top: 100px;
    right: 0px;
  }

  .hr-line{
    top: 100px;
    height: 500px;
    margin-right: -50px;
  }
  
  .big-light-light,.big-light-dark{
    padding-left: 30px;
  }
}
  
@media(max-width: 1400px) {
  .move {
    visibility: hidden;
  }

}

@media(max-width:991px){
  .swiper-wrapper {
    display: flex;
    flex-direction: column;height: auto;
  }
  .swiper-slide{
   
    padding-bottom: 100px;
display: flex;
flex-direction: column;height: auto;
  }
  .swiper-pagination{
    visibility: hidden;
  }
  .hr-line{
    visibility: hidden;
  }
  .show-more{
    visibility: hidden;
  }
  .big-light-subtitle{

    font-size: 60px;
  }
  .big-light-title{
    line-height: 1.5em;
    font-size: 100px;
  }

  .main-light{
    margin-left: 20px;
  }
  .slide-3 .big-light-light{
    padding-left: 50px;
    padding-bottom: 100px;
  }

  .slide-3 .big-light-text{
    padding-right: 30px;
  }

  .slide-3{
    padding-bottom: 0;
  }
}

@media(max-width:575px){
  .big-light-option-subtitle{
    font-size: 40px;
  }
  .big-light-subtitle{

    font-size: 40px;
  }
  .big-light-title{

    font-size: 60px;
  }

  .big-light-subtitle-ligth {
    /* margin-left: 10px; */
    text-align: center;
    font-size: 28px;
  }
.big-light-option-subtitle{
  line-height: 32px;
  font-size: 28px;
}
  .tariffs-cards{
    flex-direction: column;
  }

}