@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Regular'), local('San-Francisco-Pro-Display-Regular'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro Bold';
    src: local('San Francisco Pro Display Bold'), local('San-Francisco-Pro-Display-Bold'),
        url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro Semibold';
    src: local('San Francisco Pro Display Semibold'), local('San-Francisco-Pro-Display-Semibold'),
        url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

hr {
    margin-top: 22px;
    margin-bottom: 22px;
}

.news{
    margin: 0;
    padding: 0;
}

.navigation-list {

    padding-left: 0;
}

.navigations-item {

    list-style: none;
    font-family: 'San Francisco Pro';
    font-size: 18px;
    line-height: 21px;
    color: var(--text-second);
}

.navigations-item:not(:last-child):after {
    font-family: 'San Francisco Pro';
    content: ">";
    letter-spacing: 0.5;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.navigations-link {
    color: var(--text-second);
    text-decoration: none;
}

.navigations-link:hover {
    color: var(--title-second);
}

.backward-link {
    text-decoration: none;
    color: var(--title-second);
    font-family: 'San Francisco Pro';

    font-size: 24px;
    line-height: 29px;

}

.arrow-backward {
    fill: var(--title-second);
}

.news-wrapper {
    margin-top: 50px;
    text-align: center;
}

.news-image-wrapper {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 22px;
}

.news-image {
    border-radius: 45px;
    width: 100%;
}

.news-info {
    margin-top: 12px;
}

.news-title {

    font-family: 'San Francisco Pro Bold';
    font-size: 52px;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--title-second);
}

.news-date {
    margin-right: 140px;
}

.news-text {
    padding: 70px 100px 50px 100px;
}

.news-paragraph {
    text-align: left;
   
    font-family: 'San Francisco Pro';
    font-size: 24px;
    line-height: 37px;
}
.news-paragraph:not(:last-child){
    margin-bottom: 50px;
}


@media(max-width: 1199px) {
    .news-image-wrapper{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 22px;
    }
    .news-text{
        padding: 70px 0 50px;
    }
}


