@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Regular'), local('San-Francisco-Pro-Display-Regular'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



@font-face {
    font-family: 'San Francisco Pro Semibold';
    src: local('San Francisco Pro Display Semibold'), local('San-Francisco-Pro-Display-Semibold'),
        url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro Bold';
    src: local('San Francisco Pro Display Bold'), local('San-Francisco-Pro-Display-Bold'),
        url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'San Francisco Pro Heavy';
    src: local('San Francisco Pro Display Heavy'), local('San-Francisco-Pro-Display-Heavy'),
        url('../fonts/SFProDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Heavy.woff') format('woff'),
        url('../fonts/SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #F2F3F7;
    --background-color-second: rgba(0, 98, 133, 0.15);

    --default-color: #3554D1;
    --first-default: #2B4D5D;
    --second-default: ;
    --third-default: #006285;

    --first-accent: #F4B366;
    --second-accent: #F8F32B;

    --title-first: ;
    --title-second: #37355B;

    --text-first: ;
    --text-second: #7C7B8A;

    --swiper-theme-color: #F8F32B;


}


body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--background-color);
    position: relative;
}

body.modal-open {
    overflow-y: scroll !important;
    padding-right: 0 !important;
}


button {
    cursor: pointer;
}

input,
textarea {
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* * HEADER * */
.header.header-big-slider {
    position: absolute;
    right: 17px;
    top: 0;
    width: 100%;
    z-index: 88;
}

.header-menu {
    z-index: 120;
    height: 75px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 129px;
    padding-right: 110px;
}

.header-nav-item {
    padding-top: 20px;
    list-style-type: none;
    margin-left: 50px;
    background: linear-gradient(var(--second-accent), var(--second-accent)) center bottom;
    background-size: 0% 3px;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}

.header-nav-link {

    font-family: "San Francisco Pro Semibold", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: var(--background-color);
}

.header-nav-item:first-child {
    margin-left: 10px;
}

.header-nav-link:hover {
    color: var(--background-color);
}

.header-nav-item:hover {
    transition: all 0.45s;
    background-size: 50% 3px;
}

.all-sites-dropdown-toogle {
    background-color: transparent;
    border: none;
}

.all-sites-dropdown {
    width: 225px;
    background-color: var(--third-default);
    border: none;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown-login {
    top: 2px !important;
}

.dropdown-item:hover {
    background-color: var(--background-color);
}

.all-sites-dropdown-item {
    width: 100%;
    font-family: "San Francisco Pro";
    padding: 8px 35px 8px 35px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--background-color);
    background-color: var(--third-default);
}


.all-sites-dropdown-item:active,
.all-sites-dropdown-item:focus,
.all-sites-dropdown-item:hover {
    color: var(--third-default);
}

.button-search {
    background: transparent;
    border: none;
    margin-right: 30px;
}

.icon-search,
.icon-menu-alt,
.icon-user,
.logo-icon {
    fill: var(--background-color);
}

.button-login {
    background: transparent;
    border: none;
    margin-right: 30px;
    width: 85px;
    height: 22px;
}



.login-text {
    font-size: 18px;
    line-height: 21px;
    padding-left: 10px;
    color: var(--background-color);
}

.button-menu {
    background: transparent;
    border: none;
    position: relative;
}

.menu {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 25%;
    bottom: 25%;
}

.header-dark .header-nav-link,
.header-dark .login-text {
    color: #006285;
}

.header-dark .icon-search,
.header-dark .icon-menu-alt,
.header-dark .icon-user,
.header-dark .logo-icon {
    fill: #006285;
}

.header-dark .logo-icon {
    fill: #006285;
}

/* * LOGIN modal * */


.modal-dialog-login {
    margin-right: 170px;
    margin-top: 85px;
    width: 267px;
    height: 272px;
    background: #F2F3F7;
    box-shadow: 0px 8px 20px rgba(92, 92, 92, 0.25);
    border-radius: 5px;
}

.modal-content-login {
    padding: 18px 20px;
    border: none;
    background: #F2F3F7;
}

.spinner-border {
    position: absolute;
    display: block;
    top: 60px;
    left: 90px;
    color: rgba(0, 98, 133, 1);
}

.login-button-backward,
.login-button-close {
    display: block;
    background: transparent;
    border: none;
    fill: #D0D7DD;
    padding: 0;
    height: 20px;
    width: 20px;
}

.login-button-backward:disabled {
    height: 0;
    width: 0;
}

.login-body {

    padding: 25px 10px 0;
}

.login-logo {
    fill: var(--third-default);
}

.modal-login-text {
    font-family: "San Francisco Pro Bold";
    font-size: 14px;
    margin-top: 18px;
    color: var(--title-second);
}

.modal-login-text-descr {
    margin-top: 3px;
    font-family: "San Francisco Pro";
    font-size: 12px;
    line-height: 14px;
    color: #7C7B8A;
}

.input-login-wrapper {
    margin-top: 18px;
    margin-bottom: 18px;
    position: relative;
}

.input-modal {
    width: 100%;
    padding: 8px 12px;
    height: 32px;
    background: var(--background-color);
    border: 1px solid #D0D7DD;
    border-radius: 8px;
    font-family: "San Francisco Pro";
    font-size: 14px;
    line-height: 16px;
    color: #37355B;
    margin-bottom: 0;
}

.input-login::placeholder {
    color: var(--text-second);
}

.input-modal:focus {
    border: 1px solid #006285;
}

.input-modal:out-of-range {
    border: 1px solid red;
}

.input-login:out-of-range+.login-danger-text {
    display: block;
}


.login-danger-text {
    display: none;
    /* position: absolute; */
    left: 0;
    top: 30px;
    font-family: "San Francisco Pro";
    font-size: 10px;
    color: #FF0000;

}

.button-modal-login {
    width: 100%;
    background: var(--second-accent);
    border-radius: 8px;
    border: none;
    font-family: "San Francisco Pro";
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #37355B;
    margin-bottom: 18px;
}

.button-modal-login:disabled {
    background: #C2C2C2;
    color: #ffffff;
}


.button-modal-another-login {
    font-family: "San Francisco Pro";
    font-size: 14px;
    line-height: 17px;
    color: #37355B;
    border: none;
    background: transparent;
}

.button-modal-forgotten-password {
    font-family: "San Francisco Pro";
    font-size: 12px;
    line-height: 14px;
    color: #7C7B8A;
    border: none;
    background: transparent;
}


.card {
    border: none;
    width: 100%;
    height: 220px;
    background: #F2F3F7;
}


.card-login {
    position: relative;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1;
}

.card-pass {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.card-sms {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.deactivate {
    opacity: .3;
}

.hidden {
    display: none !important;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* * MEGAMENU + search* */

.megamenu {
    color: var(--background-color);
}

.close-menu {
    color: var(--background-color);
    fill: var(--background-color);
}

.offcanvas {
    overflow: auto;
    padding-left: 130px;
    padding-right: 100px;
    background-color: var(--third-default);
    height: 100%;
}

.offcanvas-title {
    font-family: 'San Francisco Pro Semibold';
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.13em;
}

.megamenu hr:not([size]) {
    height: 3px;
}

.offcanvas-title-line {
    margin: 0;
    opacity: 1;
    color: var(--second-accent);
    width: 60%;
    height: 3px;
}

.menu-item {

    margin-top: 30px;
}

.menu-item:hover {
    transition: all 0.45s;
    background-size: 50% 3px;
}

.menu-item:hover {
    background-size: 0% 3px;
    background-repeat: no-repeat;
    color: var(--background-color);
}

.menu-item-title {
    display: inline-block;
    font-family: "San Francisco Pro Semibold";
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    margin-bottom: 23px;
    padding-bottom: 7px;
    border-bottom: 2px solid var(--text-second);

}

.menu-item-list {
    margin-left: 0;
    padding-left: 0;
}

.menu-point {
    background: linear-gradient(var(--second-accent), var(--second-accent)) left bottom;
    background-size: 0% 3px;
    background-repeat: no-repeat;
    font-family: "San Francisco Pro";
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    list-style: none;
}

.menu-point-link {
    text-decoration: none;
    color: var(--background-color);
}


.menu-point-link:hover {
    color: var(--background-color);
}

.menu-point:hover {
    transition: all 0.45s;
    background-size: 50% 3px;
}

.input-search {
    font-family: "San Francisco Pro";
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    padding: 14px;
    background: #F2F3F7;
    border: 1px solid #A5D3FA;
    box-sizing: border-box;
    border-radius: 20px;
}

.input-search::placeholder {

    color: var(--title-second);
    opacity: 0.5;
}


/* * ckfqlth*/

.big-slider {
    overflow: hidden;
    color: var(--background-color);
    background-size: cover;
    position: relative;

}


.swiper-wrapper {
    margin: 0;
    padding: 0;
}

.big-slider .slide-1 {
    background: center no-repeat url(../image/header-image1.png);
    background-size: cover;


}

.big-slider .slide-2 {
    background: center no-repeat url(../image/slide-2.jpg);
    background-size: cover;

}

.big-slider .slide-3 {
    background: center no-repeat url(../image/extra-1.jpg);
    background-size: cover;

}

.big-slider .slide-4 {
    background: top no-repeat url(../image/extra-2.jpg);
    background-size: cover;

}

.big-slider .slide-5 {
    background: center no-repeat url(../image/active-5.jpg);
    background-size: cover;
}

.big-slider .slide-6 {
    background: center no-repeat url(../image/active-35.jpg);
    background-size: cover;
}


.header-slider-wrapper {
    margin-top: 300px;
    margin-bottom: 300px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
}

.header-slider {
    margin: 49px 120px 95px 130px;
}

.slider-description-image {
    fill: var(--second-accent);
}

.slider-description-text {
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.21em;
    text-transform: uppercase;
}

.header-slider-name {
    margin-top: 17px;
    margin-bottom: 17px;
    font-family: "San Francisco Pro Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 49px;
    line-height: 58px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.button-header-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px 0px 32px;
    background: var(--second-accent);
    border-radius: 48px;
    border: none;
}

.big-slide-arrow-right {}

.arrow-slider-prev,
.arrow-slider-next {
    fill: var(--background-color)
}

.button-header-slider-text {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #37355B;
    margin-right: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}


/* * PROGRESS BAR *  */

.header-end {
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 100%;
    padding-left: 129px;
    padding-bottom: 70px;
}

.progress-slider {
    font-family: 'San Francisco Pro Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.21em;
}

.progress-slider-start {
    margin-right: 10px;
}

.progress-slider-end {
    margin-left: 10px;
}

.progress-bar {
    background-color: #F2F3F7;
    color: var(--second-accent);
    height: 3px;
    border: 1px transparent;
}

.progress-bar::-webkit-progress-bar {
    -webkit-appearance: none;
    width: 200px;
    height: 3px;
    color: var(--second-accent);
    background-color: #F2F3F7;
    border: 1px transparent;
}


.progress-bar::-webkit-progress-value {
    color: var(--second-accent);
    height: 3px;
    background: var(--second-accent);
    border: 0px transparent;
}

.progress-bar::-moz-progress-bar {
    color: var(--second-accent);
    background: var(--second-accent);
}


.show-more {
    height: 50px;
    width: 68px;
    background: transparent;
    border: 3px;
}

.show-more:hover {
    transform: scale(1.2);
    transform: translateY(10px);
    transition: transform 0.5s;
}

.icon-arrow-down {
    fill: #C4C4C4;
}

.slider-prev,
.slider-next {
    background: transparent;
    border: 2px solid #C4C4C4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.slider-next {
    margin-left: 25px;
    margin-right: 110px;
}

.button-big-slider {
    position: relative;
}

.swiper-lazy-preloader {
    outline: 2px;

    z-index: -1;
    width: 58px;
    height: 58px;
    position: absolute;
    top: 17px;
    left: 42px;

    animation: swiper-preloader-spin 4s infinite linear;

}



/* ** BALANCE* * */
.balance {
    padding-top: 50px;

}



.card-balance {
    width: 327px;
    height: 150px;
    background: #FFFFFF;
    /* box-shadow: 0px 8px 20px rgba(92, 92, 92, 0.25); */
    border-radius: 8px;
    padding: 20px;
    margin: 0 30px 30px 30px;
    text-decoration: none;
}

.card-balance:hover {
    box-shadow: 0px 8px 20px rgba(92, 92, 92, 0.25);
    /* transform: translateY(-5px) scale(1.00); */
    transition: 0.3s;
}


.name-balance {
    font-family: 'San Francisco Pro Semibold';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    /* font-feature-settings: 'liga'off; */
    color: var(--text-second);

}

.tag {
    font-family: 'San Francisco Pro';
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.02em;
    border-radius: 12px;
    padding: 4px 15px;
}

.tag-orange {
    background: #FFDDBD;
    color: #AB7409;

}

.tag-red {
    background: #FFD1D1;
    color: #A30B0B;
}

.title-balance {
    font-family: 'San Francisco Pro Bold';
    font-size: 18px;
    line-height: 21px;
    color: var(--title-second);
    margin: 10px 0;
}

.balance-descrition {
    font-family: 'San Francisco Pro Semibold';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-second);
}


/* * FORM PAYMENT * */

.card-balance-payment {
    height: auto;
    /* height: 150px; */
    width: auto;
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(92, 92, 92, 0.25);
    border-radius: 8px;
    /* padding: 20px; */
    margin: 0 30px 50px;
    padding: 15px;


}

.title-balance-payment {

    font-family: 'San Francisco Pro Bold';

    font-size: 18px;
    line-height: 21px;
    padding-bottom: 10px;
    /* Заголовок 2 */

    color: var(--title-second);
    margin-bottom: 0;
}

.select-payment {
    padding: 12px 15px;
    background: #FFFFFF;

    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.balance-tab-button {

    font-family: 'San Francisco Pro';
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
    border: 2px solid transparent;
    background: var(--background-color);
    color: #006285;

}

.nav-item {

    margin-right: 8px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #006285;
    border: 2px solid #006285;
    background: var(--background-color);
    border-radius: 32px;

}

.nav-pills .nav-link {

    background: var(--background-color);
    border: 2px solid var(--background-color);
    border-radius: 32px;
}

.input-wrapper {
    margin-top: 10px;
}

.input-number {
    height: 48px;
    /* width: 209px;
     */
    width: 100%;
    background: #FFFFFF;
    /* Gray 5 */

    border: 1px solid #E0E0E0;
    border-radius: 8px;

    margin-right: 17px;
    padding: 16px;
}

.input-sum {
    height: 48px;
    width: 120px;

    background: #FFFFFF;
    /* Gray 5 */

    border: 1px solid #E0E0E0;
    border-radius: 8px;
    /* margin-right: 21px; */
    padding: 16px;
}

.button-payment {
    margin-left: 20px;
    margin-right: 20px;
    background: var(--second-accent);
    border-radius: 48px;
    padding: 10px 40px 9px 40px;
    border: none;
}

.select-payment {
    display: none;
}


.page {
    margin: 0;
    padding: 0;
}

/* * TARIFFS * */
.chevron_right {
    fill: var(--third-default);
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 5px;
}

.swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--default-color, var(--text-second));
}


.tariffs {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tariffs-head {
    /* margin-bottom: 30px; */
}

.tariffs-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.02em;
    color: var(--title-second);
}

.tariffs-item {
    margin: 30px;
}

.select-tariff {
    filter: drop-shadow(0px 8px 20px rgba(92, 92, 92, 0.25));
    font-family: "San Francisco Pro";
    padding: 12px 15px;
    font-size: 14px;
    line-height: 16px;

    color: var(--title-second);

    background: #FFFFFF;
    border: none;
    border-radius: 8px;
    width: 327px;
    height: 40px;
    display: none;
}

#pills-tariff-mobile,
#pills-tariff-hits,
#pills-tariff-internet,
#pills-tariff-tv,
#pills-tariff-home-phone {
    /* min-width: 0; */
    padding-bottom: 20px;
    overflow: hidden;
}

.tariffs-list-item {
    padding-bottom: 10px;
    background: linear-gradient(#006285, #006285) center bottom;
    background-size: 0% 3px;
    background-repeat: no-repeat;
    z-index: 1;
    margin-left: 25px;
    list-style: none;
}

.tariffs-list-button {
    padding-bottom: 10px;
    height: 100%;
    font-family: 'San Francisco Pro Semibold';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #7C7B8A;
    background: transparent;
    border: none;
    text-transform: uppercase;
}


.tariffs-list-item .tariffs-list-button.active,
.tariffs-list-item .show>.tariffs-list-button {
    color: #006285;
    border: 0px solid #006285;
    background: var(--background-color);
    border-radius: 0px;

}

.tariffs-list-item .tariffs-list-button {

    background: var(--background-color);
    border: 0px solid var(--background-color);
    border-radius: 0px;
}

/* Underline From Center */
/** hover.css **/
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    color: #006285;
    background: #006285;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center.active:before,
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 25%;
    right: 25%;
}


.tariffs-list-button:hover {
    color: #006285;
}

.tariffs-list-button:focus {
    color: #006285;
}

.tab-tariff a:hover>.tariff-item {
    text-decoration: none;
    box-shadow: 0px 20px 20px rgba(92, 92, 92, 0.25);
    /* transform: translateY(-5px); */
    transition: .5s;
}

.tariff-item {
    /* box-shadow: 0px 8px 20px rgba(92, 92, 92, 0.25); */
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background: #FFFFFF;
    min-height: 450px;
    display: block;
    position: relative;
    min-width: 273px;
    max-width: 300px;
    border-radius: 25px;
    margin: 20px;

}

.tariff-image {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}

.tariff-label {
    position: absolute;
    top: 129px;
    left: 40px;
    z-index: 5;
    display: inline-block;
    padding: 5px 12px 6px 15px;
    background: var(--second-accent);
    font-family: 'San Francisco Pro Semibold';
    color: var(--title-second);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.tariff-description {
    padding-top: 10px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 21px;
    width: 100%;
    z-index: 8;
    display: block;
    position: absolute;
    left: 0;
    top: 154px;
    background: #FFFFFF;
    border-radius: 25px;
}

.tariff-name {
    margin-bottom: 31px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #006285;
}


.tariff-details {
    font-family: 'San Francisco Pro';
    font-size: 12px;
    line-height: 14px;
    color: #37355B;
    width: 190px;
    margin-bottom: 32px;
}

.tariff-details-item {
    margin-bottom: 10px;
}

.tariff-details-progressbar {
    height: 10px;
}

.tariff-details-other {
    font-family: 'San Francisco Pro';
    font-size: 13px;
    line-height: 16px;
    color: #7C7B8A;
    margin-bottom: 23px;
}

.tariff-details-other-item {
    margin-bottom: 10px;
}

.progress-bar-tarriff {

    -webkit-appearance: none;
    background: var(--background-color);
    border: 5px solid transparent;
    border-radius: 5px;
    width: 200px;
    height: 10px;
}



.progress-bar-tarriff::-webkit-progress-value {
    height: 10px;
    border-radius: 5px;
    color: #066285;
    background: #066285;
    margin-left: -5px;
    margin-top: -5px;
}

.progress-bar-tarriff::-moz-progress-bar {
    border-radius: 5px;
    margin-left: -5px;
    margin-top: -5px;
    height: 10px;
    -webkit-appearance: none;
    color: #066285;
    background: #066285;
}


.tariff-details-other-icon {
    margin-right: 12px;
}

.tariff-hr {
    margin: 15px -3px;
}

.tariff-price-count {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: var(--title-second);
    margin-right: 5px;
}

.tariff-price-currency {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    width: 55px;
    height: 34px;
    font-size: 14px;
    line-height: 17px;

    color: var(--title-second);
}

.tariff-button {
    border: none;
    background: transparent
}

.tariffs-swiper-pagination {
    margin-top: 25px;
    /* +  width: 15px; */
    text-align: center;
    font-size: 18px;
    height: 35px;
    color: red;
    /* background-color: #09AB23; */
}

.tariffs-swiper-bullet {
    color: black;
    margin: 25px;
}


/* * EXTRA * */

.extra {
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--background-color-second)
}

.swiper-exrta {
    overflow: hidden;
    padding: 10px;
}

.extra-item {
    height: 400px;
    width: 340px;
    padding: 20px;
    background: #F2F3F7;
    /* box-shadow: 0px 8px 20px rgba(92, 92, 92, 0.25); */
    border-radius: 25px;
    margin-bottom: 20px;
}

.extra-image-wrapper {

    height: 210px;
    overflow: hidden;
    border-radius: 10px;
}

.extra-image {
    height: 100%;
    width: 100%;
}

.extra-description-wrapper {
    padding: 10px 20px;
}

.extra-subtitle {
    font-family: 'San Francisco Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-feature-settings: 'liga'off;
    color: var(--text-second);
}


.tag-blue {
    background: #D1F4FF;
    color: #0B69A3;
}

.tag-beige {
    background: #FCE588;
    color: #B16F05;
}

.extra a {
    text-decoration: none;
}

.extra a:hover>.extra-item {
    /* transform: translateY(-5px); */
    transition: 0.5s;
    box-shadow: 0px 8px 20px rgba(92, 92, 92, 0.25);
}

.extra-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'San Francisco Pro Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: var(--title-second);


}

.extra-description {
    font-family: 'San Francisco Pro Semibold';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-second);
}

/* * СМАРТФОНЫ И ГАДЖЕТЫ * */

.shop {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding-top: 50px;

}

.shop-head {
    margin-bottom: 30px;
}

.shop-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.02em;
    color: var(--title-second);
}

.shop-slider {
    padding: 20px;
    padding-right: 30px;
    overflow: hidden;
}

.swiper-wrapper .swiper-shop-slide {
    display: flex;
    align-self: baseline;
    /* min-height: 0; */
    /* justify-content: center; */
    /* height: 100%; */
}

.shop-card {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(92, 92, 92, 0.25);
    border-radius: 5px;
    /* margin-bottom: 50px; */
}

.shop-image-card-wrapper {
    overflow: hidden;
    width: 150px;
    height: 150px;
}

.shop-image-card {

    height: 100%;
}

.icon-3d {
    fill: var(--text-second);
}

.shop-3d-text {
    font-family: 'San Francisco Pro';

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--text-second);
}

.shop-card-name {
    margin-top: 28px;
    font-family: 'San Francisco Pro';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--text-second);

}

.shop-card-description {

    margin-bottom: 31px;

}

.shop-card-price {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--title-second);
}

.shop-card-currency {
    font-size: 13px;
    line-height: 15px;
    padding-left: 6px;
    color: var(--title-second);
}

.shop-card-button {
    border: none;
    background: transparent;
}


/* * Сервисы * */

.services {

    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(0, 98, 133, 0.15);
}

.services-head {
    margin-bottom: 30px;
}

.services-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.02em;
    color: var(--title-second);
}

.servise-card {
    min-height: 300px;
    overflow: hidden;
    background: #F2F3F7;
    box-shadow: 0px 8px 20px rgba(92, 92, 92, 0.25);
    border-radius: 25px;
}

.service-card-description {
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 39px;

}

.service-card-title {
    font-family: 'Rubik';

    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--title-second);
    padding-bottom: 12px;
}

.service-card-text {
    z-index: 15;
    font-family: 'San Francisco Pro Semibold';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--text-second);
    padding-bottom: 18px;
}

.service-card-button {
    background: var(--second-accent);
    border-radius: 48px;
    border: none;
    padding: 10px 58px 9px 57px;
    font-family: 'San Francisco Pro Semibold';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;


    color: var(--title-second);
}

.servise-card-image-wrapper {

    margin-top: -5%;
    /* height: 120%; */
}


.servise-card-image {
    margin-left: -15%;
    height: 90%;
    margin-bottom: -20%;
}


/* * новости */



.news {

    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 30px;

}

.news-head {
    margin-bottom: 30px;
}

h2.news-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.02em;
    color: var(--title-second);
}

.news-item-wrapper {

    text-decoration: none;
    height: auto;
    padding-top: 20px;
}

.news a:hover>.news-item {
    /* transform: translateY(-5px); */
    transition: 0.5s;
    box-shadow: 0px 8px 20px rgba(92, 92, 92, 0.25);
}

.news-item {
    height: 100%;
    padding: 20px 40px;
    margin: 0px 25px 25px 25px;
    background: #FFFFFF;
    /* box-shadow: 0px 8px 20px rgba(92, 92, 92, 0.25); */
    border-radius: 8px;
}

.news-date-wrapper {
    margin-bottom: 10px;
}

.news-date {
    font-family: "San Francisco Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--text-second);
}

h3.news-title {
    margin-bottom: 20px;
    font-family: "San Francisco Pro Semibold";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--title-second);
}

.news-text {
    font-family: 'San Francisco Pro Semibold';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--text-second);

}

.tag-green {
    background: #BEFFBD;
    color: #09AB23;
}

.tag-yellow {
    background: #FFF8BD;
    color: #AB8709;
}

.news-slider {
    padding-bottom: 20px;
    overflow: hidden;
}

/* * FOOTER * */
/* 
.footer {
    padding-left: 131px;
    padding-top: 50px;
    background: #006285;
}

.footer-title {
    margin-top: 20px;
    font-family: 'San Francisco Pro Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #F2F3F7;

}

.contacts-info {
    font-family: 'San Francisco Pro Semibold';
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #AAA9BA;

}

.contacts-text {
    margin: 0;
}

.footer-link
{
    color: #AAA9BA;
}
.footer-link:hover {
    color: var(--second-accent);
}

.header-list {
    margin: 0;
    padding: 0;
}

.header-list-item {
    font-family: 'San Francisco Pro Semibold';
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #AAA9BA;
    list-style-type: none;

}

.footer-my-idc {
    font-family: Rubik;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #FCF5ED;
    margin-bottom: 4px;
}

.store-link {
    display: block;
    text-decoration: none;
    margin-top: 9px;
    margin-bottom: 9px;
}

.footer-line {
    color: #BDBDBD;
    margin-bottom: 15px;
}

.social {
    margin-bottom: 10px;
}

.social-icon-wrapper:not(:last-child) {
    margin-right: 25px;

}
.social-link{
    fill:var(--background-color);
    text-decoration: none;
    cursor: pointer;
    
}

.social-link:hover .social-icon{ 
    fill:var(--second-accent); 
    transform: translateY(-4px) scale(1.5);
    transition:0.3s;
}

.copyright {
    text-align: center;
    font-family: "San Francisco Pro";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #AAA9BA;
    margin: 0;

}
.button-logout{

    display: none ;
    margin-right: 25px;
}
 */
/* * FOOTER * */

footer {
    background: rgba(0, 98, 133, 0.15);
    padding: 50px 130px 20px 165px;

}

.footer-title {
    font-family: 'San Francisco Pro Semibold';
    font-size: 21px;
    line-height: 25px;
    color: #37355B;
    margin-bottom: 27px;
}

.footer-description {
    font-family: 'San Francisco Pro';
    font-size: 18px;
    line-height: 21px;
    color: #7C7B8A;
    margin-bottom: 27px;
}

.footer-phone-wrapper {
    font-size: 36px;
    line-height: 43px;
    color: #BEBEBE;;
}

.footer-link-phone {
    text-decoration: none;
    font-family: 'San Francisco Pro Semibold';
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #37355B;
}

.footer-link-phone:hover {
    color: #006285;

}

.footer-link-list {
    list-style-type: none;
    padding: 0;
}

.footer-link-item {
    background: linear-gradient(#006285, #006285) left bottom;
    background-size: 0% 3px;
    background-repeat: no-repeat;
    margin-bottom: 0px;
}

/* .footer-link:hover  */
.footer-link-item:hover {
    transition: all 0.45s;
    background-size: 50% 3px;
}

.footer-link {
    display: block;
    font-family: 'San Francisco Pro';
    font-size: 15px;
    line-height: 35px;
    color: #7C7B8A;
    text-decoration: none;
}

.footer-link:hover {
    color: #006285;
}

.footer-my-idc-title {
    padding: 0;
    margin: 0;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #37355B;
    margin-bottom: 20px;
}

.footer-my-idc-link {
    display: block;
    width: 170px;
    height: 50px;
    padding: 5px 0 5px 7px;
    border: 1px solid #006285;
    border-radius: 8px;
    font-family: 'Rubik';
    text-decoration: none;
    color: #006285;
    font-size: 10px;
    margin-bottom: 10px;transition:0.5s;
    
}

.footer-my-idc-link:hover  .fa-apple,
.footer-my-idc-link:hover  .fa-google-play{
    transform: rotateY(360deg);
    transition:0.5s;
}
.footer-my-idc-link:hover:before  ,
.footer-my-idc-link:hover:before {
    transform: rotateY(360deg);
    transition:0.5s;
}
.footer-my-idc-link:hover {
    color: #006285;
}

.fa-apple, .fa-google-play{
    font-size: 35px;
}

.footer-my-idc-store {
    margin: 0;
    padding: 0;
    line-height: 18px;
    font-size: 20px;
}

	

.footer-social{
    position: relative;
}

.footer-social-list {
    margin-top: 10px;
    padding: 0;
    display: flex;
    position: relative;
    margin-bottom: 20px;
  
}

 .footer-social-item {

    list-style: none;
}

.footer-social-item a {
   
    width: 45px;
    height: 45px;
    background-color: #006285;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    margin: 0 10px;
    display: block !important;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #006285;
    z-index: 1;
}

 .footer-social-item a .icon {
    position: relative;
    color: #fff;
    transition: .5s;
    z-index: 3;
}

 .footer-social-item a:hover .icon {
    color: #006285;
    transform: rotateY(360deg);
}

.footer-social-item a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 2;
}

.footer-social-item a:hover:before {
    top: 0;
}

.footer-social-item a:before {
    background: #fff;
}


.footer-social-title {
    font-family: 'San Francisco Pro Bold';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #7C7B8A;
}


.fa-instagram:before {
    content: "\f16d";
}

.footer-copyright {
    font-family: 'San Francisco Pro';
    font-size: 12px;
    line-height: 14px;
    color: #AAA9BA;
}

@media(max-width: 1420px) {
    .header-menu {
        padding-left: 30px;
        padding-right: 30px;
    }

    .modal-dialog-login {
        margin-right: 100px;
    }
}



@media(max-width: 1199px) {
    .offcanvas {
        padding-left: 0;
        padding-right: 0;
    }

    .footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-nev-item {
        margin-left: 10px;
    }
}


@media(max-width: 991px) {
    .header-nav-list {
        display: none;
    }

    .service-card-description {
        padding: 30px;
    }

}

@media(max-width:767px) {

    .big-slider {
        background-color: var(--background-color);
    }

    .big-slider .header-slide {
        background-color: var(--background-color);
        background-size: contain;
        background-position: top;
    }

    .big-slider br {
        display: none;
    }

    .slider-description-image {
        display: none;

    }

    .slider-description-text {
        margin-left: 0;
    }

    .header-slider {
        margin: 30px;
    }

    .header-slide {
        padding-top: 200px;
        padding-right: 40px;
    }

    .header-slider-wrapper {
        text-transform: uppercase;
        color: var(--title-second);
        margin: 20px;
        background: #FFFFFF;
        box-shadow: 0px 8px 20px rgba(92, 92, 92, 0.25);
        border-radius: 8px;
    }


    .slider-description-text {
        font-size: 10px;
        line-height: 140%;
        letter-spacing: 0.21em;
    }

    .header-slider-name {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.02em;
    }

    .button-header-slider {
        font-size: 12px;
        line-height: 16px;
    }

    .header-end {
        margin: 20px;
        padding-left: 20px;
    }

    .show-more {
        display: none;
    }

    .service-card-button {
        width: 100%;
    }

    .big-slider {
        position: relative;
    }

    .header-end {
        position: absolute;
        top: -20px;
        left: 0;
        padding: 0;
        margin: 0;
    }

    .balance {
        padding-top: 10px;
    }

    .payment-options {
        display: none;
    }

    .tariffs-options {
        display: none;
    }

    .select-payment {
        display: flex;
        width: 100%;
    }

    .select-tariff {
        display: flex;
    }

    .card-balance-payment {
        margin: 0 15px;
    }
}

@media(max-width: 576px) {
    .login-text {
        display: none;
    }

    .button-login {
        width: 25px;
    }

    .button-payment {
        margin-top: 10px;
    }

    .header-end {
        margin: 10px;
        padding: 10px;
    }

    .input-wrapper {
        flex-direction: column;
    }

    .modal-dialog-login {
        margin-right: auto;
        margin-left: auto;
    }

}

@media(max-width: 430px) {
    .header-end {
        margin: 10px;
        padding-left: 10px;
    }
}




